<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Anil z" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Want to start your yoga classes website online? Download yoga studio Premium website html template for your classes and course."
    />
    <meta
      name="keywords"
      content="yoga teacher, yoga responsive, yoga instructor, yoga studio, yoga theme, yoga blog, yoga website, yoga fitness, yoga templates, meditation website templates"
    />

    <!-- SITE TITLE -->
    <title>About | Dhyana - Yoga Studio & Meditation HTML Template</title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../images/favicon.png"
    />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="../stylesheets/animate.css" />
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/ionicons.min.css" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../stylesheets/all.min.css" />
    <!-- Flaticon Font CSS -->
    <link rel="stylesheet" href="../stylesheets/flaticon.css" />
    <!-- Themify Font CSS -->
    <link rel="stylesheet" href="../stylesheets/themify-icons.css" />
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="../stylesheets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.css" />
    <link rel="stylesheet" href="../stylesheets/owl.theme.default.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../stylesheets/magnific-popup.css" />
    <!-- jquery-ui CSS -->
    <link rel="stylesheet" href="../stylesheets/jquery-ui.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/responsive.css" />
    <link
      rel="stylesheet"
      id="layoutstyle"
      href="../stylesheets/theme-default.css"
    />
  </head>

  <body>
    <!-- LOADER -->
    <div id="preloader">
      <div class="loading_wrap">
        <img src="../images/loading_logo.png" alt="logo" />
      </div>
    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header
      class="header_wrap fixed-top dark_skin main_menu_uppercase main_menu_weight_600 transparent_header"
    >
      <%- include('./elements/topheader'); %>
      <div class="container" style="min-width: 85vw">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img class="logo_light" src="../images/logo_white.png" alt="logo" />
            <img class="logo_dark" src="../images/logo_dark.png" alt="logo" />
            <img
              class="logo_default"
              src="../images/logo_dark.png"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="ion-android-menu"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav">
              <li>
                <a class="nav-link" href="/home/<%= status %>">Home</a>
              </li>
              <li>
                <a class="nav-link active" href="/about/<%= status %>">About us</a>
              </li>
              <li>
                <a class="nav-link" href="/classes/<%= status %>">Classes</a>
              </li>
              <li>
                <a class="nav-link" href="/courses/<%= status %>">Courses</a>
              </li>
              <li>
                <a class="nav-link" href="/shop/<%= status %>">Shop</a>
              </li>
              <li>
                <a class="nav-link" href="/contact/<%= status %>">Contact us</a>
              </li>
            </ul>
             <% if(status=="success"){ %>
            <div class="nav-link d-flex">
              <a
                href="/users/profile"
                class="ti-user"
                style="
                  border-radius: 50%;
                  padding: 10px;
                  color: #fff;
                  background-color: rgb(234, 59, 97);
                "
              ></a>
            </div>
            <% } else {%>
            <a
              href="/loginRegister"
              id="loginButton"
              class="btn btn-default rounded-0 animation nav-link"
              data-animation="fadeInUp"
              data-animation-delay="0.7s"
            >
              Login
            </a>
            <% } %>
          </div>
        </nav>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- START SECTION TEACHER -->
    <section id="page1" class="pb_70">
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-xl-6 col-lg-8 col-md-10 text-center animation"
            data-animation="fadeInUp"
            data-animation-delay="0.2s"
          >
            <div class="heading_s1">
              <span class="sub_heading">Yoga teacher</span>
              <h2>Our Awesome Team</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur blandit magna adipiscing
              elit ncididunt labore et dolore magna aliqua enim.
            </p>
            <div class="small_divider clearfix"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div
              class="team_box animation"
              data-animation="fadeInUp"
              data-animation-delay="0.2s"
            >
              <div class="team_img">
                <img src="../images/team1.jpg" alt="team1" />
                <ul class="list_none social_icons social_style1 rounded_social">
                  <li>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-googleplus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team_info text-center">
                <div class="team_title">
                  <h5>Alea Brooks</h5>
                  <span>Yoga Teacher</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div
              class="team_box animation"
              data-animation="fadeInUp"
              data-animation-delay="0.3s"
            >
              <div class="team_img">
                <img src="../images/team2.jpg" alt="team2" />
                <ul class="list_none social_icons social_style1 rounded_social">
                  <li>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-googleplus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team_info text-center">
                <div class="team_title">
                  <h5>Alea Brooks</h5>
                  <span>Yoga Teacher</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div
              class="team_box animation"
              data-animation="fadeInUp"
              data-animation-delay="0.4s"
            >
              <div class="team_img">
                <img src="../images/team3.jpg" alt="team3" />
                <ul class="list_none social_icons social_style1 rounded_social">
                  <li>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-googleplus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team_info text-center">
                <div class="team_title">
                  <h5>Alea Brooks</h5>
                  <span>Yoga Teacher</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div
              class="team_box animation"
              data-animation="fadeInUp"
              data-animation-delay="0.5s"
            >
              <div class="team_img">
                <img src="../images/team4.jpg" alt="team4" />
                <ul class="list_none social_icons social_style1 rounded_social">
                  <li>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-googleplus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team_info text-center">
                <div class="team_title">
                  <h5>Alea Brooks</h5>
                  <span>Yoga Teacher</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION TEACHER -->

    <!-- START SECTION COUNTER -->
    <section
      class="overlay_bg_70 parallax_bg"
      data-parallax-bg-image="../images/counter_bg.jpg"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-md-3 col-6 animation"
            data-animation="fadeInUp"
            data-animation-delay="0.2s"
          >
            <div class="box_counter counter_white text-center">
              <i class="flaticon-trainers"></i>
              <h3 class="counter_text"><span class="counter">18</span>+</h3>
              <p>Our Trainers</p>
            </div>
          </div>
          <div
            class="col-md-3 col-6 animation"
            data-animation="fadeInUp"
            data-animation-delay="0.3s"
          >
            <div class="box_counter counter_white text-center">
              <i class="flaticon-trophy"></i>
              <h3 class="counter_text"><span class="counter">15</span>+</h3>
              <p>Win Awards</p>
            </div>
          </div>
          <div
            class="col-md-3 col-6 animation"
            data-animation="fadeInUp"
            data-animation-delay="0.4s"
          >
            <div class="box_counter counter_white text-center">
              <i class="flaticon-users"></i>
              <h3 class="counter_text"><span class="counter">1800</span>+</h3>
              <p>Happy Member</p>
            </div>
          </div>
          <div
            class="col-md-3 col-6 animation"
            data-animation="fadeInUp"
            data-animation-delay="0.5s"
          >
            <div class="box_counter counter_white text-center">
              <i class="flaticon-classes"></i>
              <h3 class="counter_text"><span class="counter">45</span>+</h3>
              <p>Monthly Classes</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION COUNTER -->

    <!-- START SECTION GALLERY -->
    <section class="pb_70">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row justify-content-center">
              <div
                class="col-xl-6 col-lg-8 col-md-10 text-center animation"
                data-animation="fadeInUp"
                data-animation-delay="0.2s"
              >
                <div class="heading_s1">
                  <span class="sub_heading">Yoga</span>
                  <h2>Our Gallery</h2>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur blandit magna
                  adipiscing elit ncididunt labore et dolore magna aliqua enim.
                </p>
                <div class="small_divider clearfix"></div>
              </div>
            </div>
            <ul class="grid_container gutter_medium grid_col3 masonry">
              <li class="grid-sizer"></li>

              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small1.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item1.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small16.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item16.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small2.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item2.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small17.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item17.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small7.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item7.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small19.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item19.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <div
                    class="carousel_slider owl-carousel owl-theme dots_white"
                    data-autoplay="true"
                    data-loop="true"
                    data-autoplay-timeout="3000"
                    data-items="1"
                  >
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small9.jpg"
                        alt="image"
                      />
                    </a>
                    <a href="#" class="image_link">
                      <img
                        src="../images/gallery_item_small10.jpg"
                        alt="image"
                      />
                    </a>
                  </div>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item9.jpg" class="image_popup"
                        ><i class="ion-images"></i
                      ></a>
                      <a
                        href="../images/gallery_item10.jpg"
                        class="image_popup d-none"
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small11.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item11.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small18.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item18.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small12.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item12.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <li class="grid_item">
                <div class="gallery_item">
                  <a href="#" class="image_link">
                    <img src="../images/gallery_item_small14.jpg" alt="image" />
                  </a>
                  <div class="gallery_content">
                    <div class="link_container">
                      <a href="../images/gallery_item14.jpg" class="image_popup"
                        ><i class="ion-image"></i
                      ></a>
                    </div>
                    <h4><a href="#">Yoga For Beginners</a></h4>
                    <div class="pr_categories">
                      <a href="#">Hatha Yoga</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- END GALLERY ITEM -->
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION GALLERY -->

    <!-- START FOOTER -->
    <footer class="bg_dark footer_dark">
      <div class="top_footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-7 mb-4 mb-lg-0">
              <h5 class="widget_title">Abouts us</h5>
              <div class="footer_desc">
                <p>
                  Phasellus blandit massa enim. elit id varius nunc. Lorems
                  ipsum dolor sit consectetur. If you are going to use a passage
                  of Lorem Ipsum.
                </p>
              </div>
              <ul class="contact_info list_none">
                <li>
                  <span class="fa fa-map-marker-alt"></span>
                  <address>256 Mohra Rd, North London, UK</address>
                </li>
                <li>
                  <span class="fa fa-mobile-alt"></span>
                  <p>+123 456 7890</p>
                </li>
                <li>
                  <span class="fa fa-envelope"></span>
                  <a href="mailto:info@yourmail.com">info@yourmail.com</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-5 mb-4 mb-lg-0">
              <h5 class="widget_title">Quick Links</h5>
              <ul class="list_none widget_links links_style2">
                <li><a href="#">Join Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Support center</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-7 mb-4 mb-md-0">
              <h5 class="widget_title">Letest Post</h5>
              <ul class="recent_post border_bottom_dash list_none">
                <li>
                  <div class="post_footer">
                    <div class="post_content">
                      <h6>
                        <a href="#"
                          >Lorem ipsum dolor sit amet nullam consectetur
                          adipiscing elit.</a
                        >
                      </h6>
                      <span class="post_date"
                        ><i class="ion-android-time"></i>April 14, 2018</span
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <div class="post_footer">
                    <div class="post_content">
                      <h6>
                        <a href="#"
                          >Lorem ipsum dolor sit amet nullam consectetur
                          adipiscing elit.</a
                        >
                      </h6>
                      <span class="post_date"
                        ><i class="ion-android-time"></i>April 14, 2018</span
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-5">
              <h5 class="widget_title">Subscribe Newsletter</h5>
              <div class="newsletter_form mb-4 mb-lg-5">
                <form>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    required=""
                    placeholder="Enter Email Address"
                  />
                  <button
                    type="submit"
                    title="Subscribe"
                    class="btn btn-default rounded-0"
                    name="submit"
                    value="Submit"
                  >
                    <i class="ion-paper-airplane"></i>
                  </button>
                </form>
              </div>
              <h5 class="widget_title">Stay Connected</h5>
              <ul class="list_none social_icons radius_social">
                <li>
                  <a href="#" class="sc_facebook"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="sc_twitter"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="sc_google"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="sc_instagram"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="sc_pinterest"
                    ><i class="fab fa-pinterest"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="bottom_footer border_top_transparent">
              <div class="row">
                <div class="col-md-6">
                  <p class="copyright m-md-0 text-center text-md-left">
                    Copyright © 2019 - Template Made By
                    <a href="https://bestwebcreator.com/" class="text_default"
                      >BestWebCreator</a
                    >
                  </p>
                </div>
                <div class="col-md-6">
                  <ul class="list_none footer_link text-center text-md-right">
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape_img">
        <div class="ol_shape10">
          <img src="../images/shape10.png" alt="shape36" />
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none"
      ><i class="ion-ios-arrow-up"></i
    ></a>

    <!-- Latest jQuery -->
    <script src="../javascripts/jquery-1.12.4.min.js"></script>
    <!-- jquery-ui js -->
    <script src="../javascripts/jquery-ui.js"></script>
    <!-- popper min js -->
    <script src="../javascripts/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="../javascripts/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="../javascripts/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="../javascripts/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="../javascripts/parallax.js"></script>
    <!-- jquery dd js  -->
    <script src="../javascripts/jquery.dd.min.js"></script>
    <!-- countdown js  -->
    <script src="../javascripts/jquery.countdown.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="../javascripts/jquery.counterup.min.js"></script>
    <!-- jquery.parallax-scroll js -->
    <script src="../javascripts/jquery.parallax-scroll.js"></script>
    <!-- fit video  -->
    <script src="../javascripts/jquery.fitvids.js"></script>
    <!-- imagesloaded js -->
    <script src="../javascripts/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="../javascripts/isotope.min.js"></script>
    <!-- cookie js -->
    <script src="../javascripts/js.cookie.js"></script>
    <!-- scripts js -->
    <script src="../javascripts/scripts.js"></script>
  </body>
</html>
